:root {
    --button-bg: linear-gradient(to top left, #00094b, #1D9BBE);
    --hover-bg: linear-gradient(to bottom right, #00094b, #1D9BBE);
    --nav-bg: #050822D1;
    --bg-color: #0c0c0c;
    --font-color: #e1e1ff;
    --nav-color: #e1e1ff;
    --movie-opacity: 0.5;
}

[data-theme="light"] {
    --bg-color: #fff;
    --font-color: #000000D1;
    --nav-bg: #00094b;
    --nav-color: #CBCFFEC2;
    --movie-opacity: 0.8;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}


html,
body {
    min-height: 100%;
    font-weight: lighter;

}

body {
    background: var(--bg-color);
    min-height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 'Segoe UI', Tahoma, Geneva, Verdana;
    color: var(--font-color)
}



.top {
    width: 100%;

}

nav {
    background: var(--nav-bg);
    width: 100%;
    min-height: 50px;
    position: fixed;
    z-index: 10000000;
}

.burger__box {
    display: flex;
    flex-direction: column;
    line-height: 4px;
    padding-top: 9px;
    float: right;
    margin-right: 10px;
}


.hamburger {
    width: 18px;
    height: 1px;
    background-color: #fff;
    line-height: 3px;
    margin: 4px;

}

.hamburger:hover {
    animation: burgers1 2s linear,
        burgers2 2s linear,
        burgers3 2s linear;

}

.hamburger:nth-child(1) {
    margin: 3px;

}


.hamburger:nth-child(2) {
    margin: 3px;

}

.hamburger:nth-child(3) {
    margin: 3px;

}

.burger__box:hover+.nav__bar {
    display: block;

}




.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 5;
    flex-direction: column;
}

.nav__bar {
    display: none;
}


.nav__bar li,
slideTwo li {
    list-style: none;
    text-align: center;
    height: 60px;
}

.nav__bar li a,
.slideTwo label {
    text-decoration: none;
    color: var(--nav-color);
}

.search__form {
    position: absolute;
    top: 31%;
    right: 10%;
    z-index: -1;
    display: flex;
}





.bottom__nav {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #4B55C682;
}


.fixed {
    position: fixed;
    background: var(--nav-bg);
}


div.bottom__nav ul {
    display: flex;
    justify-content: space-around;

}

div.bottom__nav ul li {
    list-style: none;
    display: block;
    flex-direction: column
}

div.bottom__nav ul li a {
    text-decoration: none;
    line-height: 4;
    color: #ddd;
    display: block;
    flex-direction: column;

}

div.bottom__nav ul li a img {
    line-height: 3;
    height: 20px;
    width: 20px;
    background: #121212;

}

div.bottom__nav ul li a span {
    padding-top: 0;
    margin-top: 0;

}

div.movie__slider {
    width: 100%;
    min-height: 100px;
    background: #42445A24;
    position: absolute;
    top: 10%;
    z-index: -2;

}

.slide {
    width: 100vmin;
    min-height: 100px;
    display: flex;


}

.slide img {
    width: 100%;
    height: 100%;
    flex: 1;

}


/*Horizontal Zoom-n-pan Container  */
.slide img {
    transition: transform .5s ease-in-out;
    transform: scale(1.4);
    transform-origin: 100% 0;
}

/* The Transformation */
.slide:hover slide img {
    transform: scale(1.5) translateX(30%);
}




.slideTwo {
    width: 80px;
    height: 30px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slideTwo:after {
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    height: 2px;
    width: 52px;
    background: #111;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slideTwo label {
    display: flex;
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 4px;
    background: #fcfff4;
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}

.slideTwo label:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 6px;
    left: 6px;
    background: #333;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px black, 0px 1px 0px rgba(255, 255, 255, 0.9);
}

.slideTwo input[type=checkbox] {
    visibility: hidden;
}

.slideTwo input[type=checkbox]:checked+label {
    left: 54px;
}

.slideTwo input[type=checkbox]:checked+label:after {
    background: #27ae60;
    /*activeColor*/
}

div.slideTwo {
    display: flex;

}

/* end .slideTwo */


.movie__container-box {
    width: 100%;
    background: #282E6B47;
    position: absolute;
    top: 15%;
    
}

.movie__container-box .container {
   margin: 20px 5px;
    
    
}

.container .img__card {
    min-height: 400px;
    width: 350px;
    border-radius: 3px;
}

.img__card #movie__img {
    width: 340px;
    height: 350px;
    
}

#movie__img img {
    height: 100%;
    width: 100%;
    
}

#overview1 {
    display: none;
}

#movie__img:hover #overview1 {
    display: block;
}
#overview1 {
    height: 350px;
    position: absolute;
    transition: 0.6s;
    right: 2%;
    background: linear-gradient(to bottom left, #7175A31F ,#000000CF);
}

#overview1 h5 {
  text-align: center;
  margin-top: 200px;
    
}

#overview1::after  {
    content: "";
    background: linear-gradient(to bottom left, #7175A31F,#313DC26E);
}

#movie__img h2 {
    color: var(--font-color);
    text-align: center;
}

#img__title {
    color: #f00;
    text-align: center;
    letter-spacing: 2px;
}

.movie__details {
    text-align: left;
    font-weight: lighter;
    font-style: italic;
    font-size: 21px;
    letter-spacing: 1px;
    margin: 9px 0 0 13px;
    padding: 8px;
}


.movie__cast  {
    position: absolute;
    transform: translateY(400%);
    display: flex;
    height: 180px;
    
}



#cast__img {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(150px,auto);
    margin: 5px;
    grid-gap: 5px;
}

.actor {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.actor img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.actor h5 {
    text-align: center;
}


.movie__trailer {
    position: absolute;
    transform: translate(0,600%);
    width: 100%;
    background: #282E6B47;
    height: 160px;
}

.movie__trailer #movie__box {
    width: 100%;
    background: #32366082;
    
}

.movie__grid .video__grid {
    width: 100%;
}

.video__grid iframe {
    position: relative;
    display: flex;
    align-items: center;
    
}

.teaser__grid {
    display: grid;
    grid-template-rows: repeat(4, minmax(100px, auto));
    grid-row-gap: 10px;

}

#down__pusher {
    display: grid;
    
    grid-template-rows: repeat(2, minmax(140px,auto));
    transform: translateY(700%);
   
}


 lfd.grid {
    display: grid;
    grid-template-rows: repeat(2,minmax(100px,auto));
    
}

.center {
    position: absolute;
    top: 90%;
    right: 15%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 45px 45px 45px rgba(0, 0, 0, 0.4);

}

.heart {
    position: relative;
    width: 10px;
    height: 10px;
    background: #f00;
    transform: rotate(45deg) translate(2px, 2px);
    z-index: 1;


}

.heart::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f00;
    top: -6px;
    left: 0;
    border-radius: 50%;


}

.heart::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f00;
    right: 6px;
    bottom: 0;
    border-radius: 50%;


}

.center::before {
    content: '';
    position: absolute;
    left: -50%;
    top: 0;
    background: rgba(0, 0, 0, 0.3);

}

.heart:hover {
    animation: animate 1s linear 2;
}

@keyframes animate {
    0% {
        transform: rotate(45deg) translate(2px, 2px) scale(1);
    }

    25% {
        transform: rotate(45deg) translate(2px, 2px) scale(1.2);
    }

    50% {
        transform: rotate(45deg) translate(2px, 2px) scale(1.4);
    }

    70% {
        transform: rotate(45deg) translate(2px, 2px) scale(1.2);
    }

    90% {
        transform: rotate(45deg) translate(2px, 2px) scale(1);
    }

    100% {
        transform: rotate(45deg) translate(2px, 2px) scale(1);
    }
}


.vids {
    position: relative;
    margin-top: 14px;
    margin-left: 20px;
}

#full__movie {
    padding: 6px 15px;
    border-radius: 3px;
    background: #f00;
}

#full__movie a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 15px;
}

#overview {
    text-align: center;
    word-spacing: 2px;
    font-weight: lighter;
}

.loader__2 {
    position: absolute;
    top: 50%;
    left: 30%;


}

.loader__2 ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.loader__2 ul li {
    list-style: none;
    width: 20px;
    height: 20px;
    background: #ddd;
    border-radius: 50%;
    animation: loader__2 1.6s ease-in-out infinite;
}

@keyframes loader__2 {

    0%,
    40%,
    100% {
        transform: scale(0.2);
    }

    20% {
        transform: scale(1.3);
    }
}


.loader__2 ul li:nth-child(1) {
    animation-delay: -1.4s;
    background: #f00;
    box-shadow: 0 0 50px #f00,
                0 0 50px #f00;
}

.loader__2 ul li:nth-child(2) {
    animation-delay: -1.2s;
    background: #f00;
    box-shadow: 0 0 50px #f00,
                0 0 50px #f00;
}

.loader__2 ul li:nth-child(3) {
    animation-delay: -1s;
    background: #f00;
    box-shadow: 0 0 50px #f00,
                0 0 50px #f00;
}

.loader__2 ul li:nth-child(4) {
    animation-delay: 0.8s;
    background: #f00;
    box-shadow: 0 0 50px #f00,
                0 0 50px #f00;
}

.loader__2 ul li:nth-child(5) {
    animation-delay: 0.6s;
    background: #f00;
    box-shadow: 0 0 50px #f00,
                0 0 50px #f00;
}

.loader__2 ul li:nth-child(6) {
    animation-delay: 0.4s;
    background: #f00;
    box-shadow: 0 0 50px #f00,
                0 0 50px #f00;
}